@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary:#66266d;
    --secondary:#cc2d80;
    --text:#685b54;
}

body{
    color: var(--text);
    font-family: "Roboto", sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}
